@media print {

body {
  visibility: hidden;
}

table { page-break-after:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

  #imprimir, #imprimir * {
    visibility: visible;
  }

  #imprimir {
    margin-left: 0;
    margin-top: 0;
    margin-right: 10;
  }
}

.popover {
	border: 1px dotted #ccc !important;
	max-width: 1000px !important;
  }
  
  .popover-body{
	color: rgb(50, 6, 108) !important;
	background-color: rgb(234, 240, 243) !important;
	font-size: 20px !important;
	max-width: 1000px !important; 
	text-align: justify;
	padding: 10px !important;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.progresso {
	height:44px;
	width: 500px;
}

.modal-dialog {
	min-width: 58% !important;
	/*border: 2px solid red;*/
}

#navegacao li a:hover {
	background-color: #8B0000;
	color:  #FFFAFA !important;
 }

 .navegacao li, ul {
 		font-family: Comic Sans MS !important;
 		font-size: 16 px;
 		font-weight: bold !important;
 }

 .breadcrumb {
 		font-family: Comic Sans MS !important;
 		font-size: 16 px;
 }

.progresso > div {
	background-color: #FF6347;
	color: white;
	height: 100%;
	text-align: right;
	font-size: 18px;
	min-width: 15%;
	padding-right:10px;
	padding-bottom: 5px;
    box-shadow: 5px -5px 5px 2px gray;
}


/*Início dos estilos da TO-DO LIST*/

main {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 60px;
    box-shadow: 2px -2px 8px 2px gray;
}

main .todo-list input {
    box-sizing: border-box;
    height: 28px;
    border-radius: .25rem;
    width: 60%;
    border: 1px solid lightgrey;
    margin-top: 32px;
}

main button {
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    height: 28px;
    border-radius: .25rem;
    color: #fff;
}

main button:hover {
    opacity: 0.8;
}

main button.add {
    background-color: #007bff;
    border: 1px solid  #007bff;
    margin-left: 2px;
}

main button.clear {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    display: block;
    margin: auto;
}

main button:focus {
    outline:0;
}

main > section.todo-list h3 {
    text-align: center;
    margin-top: 24px;
    width: 100%;
}


main > section.todo-list {

    flex-wrap: wrap;
    border: 1px solid lightgrey;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
    border-radius: .25rem;
}

main > section.todo-list p {
    font-size: 20px;
}

main .all-todos .single-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main .all-todos .single-todo p {
    margin: 12px 0;
    cursor: pointer;
}

main .all-todos .single-todo.done p {
    text-decoration: line-through;
}

main .all-todos .single-todo button.remove {
    width: 12px;
    height: 12px;
    border: none;
    background: transparent url('img/remove.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin-left: 8px;
}

main > section.todo-list button.clear {

    margin-top: 24px;
}

div.instructions {
    font-size: 14px;
    margin-top: 40px;
    color: grey;
}

div.instructions ul {
    list-style: inside;
    text-align: center;
    padding: 0;
}

div.instructions ul li {
    margin: 4px auto;
}

/*Fim dos estilos da TO-DO LIST*/